<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="front/layout/layout">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>蛾子的博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div layout:fragment="content" >
    <div class="breadcrumbs">
        <a href="index.html">首页</a> &nbsp;/&nbsp; <span>归档</span>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <link th:href="@{/css/history.css}" rel="stylesheet" />
            <div class="head-warp">
                <div class="head">
                    <div class="nav-box">
                        <ul>
                            <li class="cur" style="display: none">公司大事记时间轴</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="history">
                    <div class="history-date">
                        <ul>
                            <h2 class="first"><a href="javascript:void(0)" id="yearA" th:text="${year}"></a></h2>
                            <div class="popover fade left in" id="yearList">
                                <div th:each="year: ${years}" th:text="${year}" th:id="${'year-' + year}"></div>
                            </div>
                            <li th:each="article: ${articleVOS}">
                                <h3 th:utext="${#dates.format(article.createTime, 'MM.dd') + '<span>' + #dates.format(article.createTime, 'yyyy') + '</span>'}"></h3>
                                <dl>
                                    <dt><a th:href="@{'/article/'+${article.id}}" th:text="${article.title}"></a>
                                        <span th:text="${'评论(' + article.commentCount + ')'}"></span>
                                    </dt>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/scripts/history.js}" type="text/javascript"></script>
</div>
</body>
</html>