<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="front/layout/layout">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div layout:fragment="content" >
    <div class="breadcrumbs">
        <a th:href="@{/}">首页</a>  <span id="categoryName"></span>
    </div>

  <!--  <script th:src="@{/scripts/editor.md-master/lib/marked.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/prettify.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/raphael.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/underscore.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/flowchart.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/scripts/editor.md-master/editormd.js}"></script>-->
    <script type="text/javascript" th:inline="javascript">

        var tagClass = ["badge", "badge badge-success", "badge badge-warning", "badge badge-important", "badge badge-info", "badge badge-inverse"];
        var categoryCode = [[${articleParam.categoryCode==null?"":articleParam.categoryCode}]];
        var articleListParam = {"pageSize":10};
        if (categoryCode) {
            articleListParam.categoryCode = decodeURIComponent(categoryCode);
            var categoryName = [[${articleParam.categoryName==null?"":articleParam.categoryName}]];
            $('#categoryName').html('&nbsp;>&nbsp;' + categoryName);
        }
        var showPageNum = 5;// 显示分页按钮数

        $(function () {
            addArticleList(1);
            showMyTags();

        });

        /**
         * 博客列表展示
         * @param pageNum
         */
        function addArticleList(pageNum) {
            articleListParam.pageNum = pageNum;
            $.get(basePath + 'articles', articleListParam, function (data) {

                if (data.success) {
                    var html = [];
                    if (data.total > 0) {
                        var dd = data.data.result;
                        for (var i=0; i<dd.length; i++) {
                            html.push('<h4><a href="'+basePath+'article/' + dd[i].id + '">' + dd[i].title + '</a></h4>');
                            html.push('<p>');
                            var tags = dd[i].tags;
                            if (tags && tags.length > 0) {
                                for (var j=0; j<tags.length; j++) {
                                    html.push('<span class="article-tag '+tagClass[j%tagClass.length]+'" onclick="showArticleList(null, \''+tags[j].tag+'\');">'+tags[j].tag+'</span>');
                                }
                            }

                            /*html.push('<div id=article-content-' + dd[i].id + ' class="article-content">');
                            html.push('<textarea id=article-context-text-' + dd[i].id + ' style="display:none;" >' + dd[i].content + '</textarea>');
                            html.push('</div>');*/
                            html.push('<br><i class="fa fa-list-alt"></i>&nbsp;' + dd[i].categoryName + '&nbsp;&nbsp;');
                            html.push('<i class="fa fa-calendar"></i>&nbsp;' + dd[i].createTime + '&nbsp;&nbsp;');
                            // html.push('<i class="general foundicon-heart"></i>&nbsp;' + dd[i].categoryName + '&nbsp;&nbsp;');
                            html.push('<i class="fa fa-eye""></i>&nbsp;阅读(' + dd[i].visitCount + ')&nbsp;&nbsp;');
                            html.push('<i class="general foundicon-edit""></i>&nbsp;评论(' + dd[i].commentCount + ')&nbsp;&nbsp;');
                            html.push('<a href="'+basePath+'article/' + dd[i].id + '">阅读全文 »</a></p>');
                            if (i != dd.length) {
                                html.push('<hr/>')
                            }
                        }
                    }
                    $('#articleList').html(html.join(''));
                    /*$('.article-content').each(function() {
                        editormd.markdownToHTML($(this).attr('id'), {
                            markdown        : $(this).children('textarea').text(),
                            htmlDecode      : "style,script,iframe",  // you can filter tags decode
                            emoji           : true,
                            taskList        : true,
                            tex             : true,  // 默认不解析
                            flowChart       : true,  // 默认不解析
                            sequenceDiagram : true,  // 默认不解析
                            tocm : true,//菜单
                            tocContainer : "",
                            tocDropdown   : false
                        });
                    });*/

                    // 分页
                    articleListParam.pageNum = data.data.pageNum;
                    var pages = data.data.pages; // 总页数
                    var total = data.data.total; // 总条数
                    var pageHtml = [];
                    if (pages > 0) {
                        var start = articleListParam.pageNum - showPageNum/2;
                        var end = articleListParam.pageNum + showPageNum/2;
                        var pre = true, next = true;
                        if (start <= 1) {
                            start = 1;
                            pre = false;
                            if (pages >showPageNum) {
                                end = showPageNum;
                            } else {
                                end = pages;
                                next = false;
                            }
                        }
                        if (end > pages) {
                            end = pages;
                            next = false;
                            if (pages > showPageNum) {
                                start = pages - showPageNum;
                            } else {
                                start = 1;
                                pre = false;
                            }
                        }
                        pageHtml.push('<ul>');
                        if (pre) {
                            pageHtml.push('<li><a href="javascript:void(0)" onclick="addArticleList('+(articleListParam.pageNum-1)+')">«</a></li>')
                        }
                        for (var i=start; i<=end; i++) {
                            if (i == articleListParam.pageNum) {
                                pageHtml.push('<li class="current"><a href="javascript:void(0)">'+i+'</a></li>')
                            } else {
                                pageHtml.push('<li><a href="javascript:void(0)" onclick="addArticleList('+i+')">'+i+'</a></li>')
                            }
                        }
                        if (next) {
                            pageHtml.push('<li><a href="javascript:void(0)" onclick="addArticleList('+(articleListParam.pageNum+1)+')">»</a></li>')
                        }
                        pageHtml.push('</ul>');
                    }
                    $('#articlePage').html(pageHtml.join(''));
                }

            }, 'json');
        }
        
        function showMyTags() {
            $.get(basePath + 'tags', {}, function (data) {
                if (data.success) {
                    var myTagHtml = [];
                    var dd = data.data;
                    for (var i=0; i<dd.length; i++) {
                        myTagHtml.push('<span class="article-tag '+tagClass[i%tagClass.length]+'" onclick="showArticleList(null, \''+dd[i].tag+'\');">'+dd[i].tag+'</span>');
                    }
                    $('#myTags').html(myTagHtml.join(''));
                }
            });
        }

        function showArticleList(category, tag, search, categoryName) {
            articleListParam = {
                "pageSize":10
            };
            if (category) {
                articleListParam.categoryCode = category;
            }
            if (tag) {
                articleListParam.tag = tag;
            }
            if (search) {
                articleListParam.search = search;
            } else {
                $('#search').val('');
            }
            if (categoryName) {
                $('#categoryName').html('&nbsp;>&nbsp;' + categoryName);
            } else {
                $('#categoryName').html('');
            }
            addArticleList(1);
        }
        
        function searchArticle() {
            showArticleList(null, null, $.trim($('#search').val()));
        }
    </script>
    <div class="row-fluid">
        <div class="span8">
            <div id="articleList">
               <!-- <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                &lt;!&ndash;<img src="http://placehold.it/150x90/e7e7e7" class="img-polaroid" style="margin:5px 0px 15px;width: 100%;height: 40%;"/>&ndash;&gt;
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    &lt;!&ndash;<i class="general foundicon-heart"></i>&nbsp;关注（0）&nbsp;&nbsp;&ndash;&gt;
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
                <hr/>-->
            </div>

            <div class="pagination pagination-large" style="text-align: center" id="articlePage">
            </div>
        </div>

        <div class="span4">

            <div class="input-append">
                <input class="span9" id="search" size="16" type="text" placeholder="站内搜索"><button class="btn" type="button" onclick="searchArticle()">Go!</button>
            </div>
            <br/>

            <h3>关于本站</h3>
            <p>
                <a href="index.html" id="loginA">登陆后台</a>
            <address>访问量：0&nbsp;&nbsp;&nbsp;已运行：0天<br />
            <ul id="zzxx-box">
                <li class="weixin"><a title="微信"><i class="fa fa-weixin"></i><span style=""></span></a></li>
                <li class="tqq"><a target="blank" rel="nofollow" href="" title=""><i class="fa fa-qq"></i></a></li>
                <li class="github"><a target="blank" rel="nofollow" href="" title=""><i class="fa fa-github"></i></a></li>
            </ul>
            </address>
            </p>
            <br />

            <h3>热门文章</h3>
            <ol id="hotArticle">
                <li th:each="hotArticle: ${hotArticleList}"><a th:href="@{'/article/'+${hotArticle.id}}" th:text="${hotArticle.title}"></a>
                    <i class="fa fa-eye"></i>&nbsp;<i th:text="'阅读（' + ${hotArticle.visitCount} + '）'"></i>&nbsp;&nbsp;</li>

            </ol>
            <br />

            <h3>最新文章</h3>
            <ol id="newArticle">
                <li th:each="newArticle: ${newArticleList}"><a th:href="@{'/article/'+${newArticle.id}}" th:text="${newArticle.title}"></a>
                    <i class="fa fa-calendar"></i>&nbsp;<i th:text="${#dates.format(newArticle.createTime, 'yyyy-MM-dd')}"></i>&nbsp;&nbsp;</li>
            </ol>
            <br>

            <h3>我的标签</h3>
            <p id="myTags">
            </p>
        </div>
    </div>
</div>
</body>
</html>