<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="front/layout/layout">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div layout:fragment="content" >
    <div class="breadcrumbs">
        <a href="index.html">首页</a>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <div class="articleList">
                <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                <!--<img src="http://placehold.it/150x90/e7e7e7" class="img-polaroid" style="margin:5px 0px 15px;width: 100%;height: 40%;"/>-->
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    <!--<i class="general foundicon-heart"></i>&nbsp;关注（0）&nbsp;&nbsp;-->
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
                <hr/>

                <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
                <hr/>

                <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
                <hr/>

                <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
                <hr/>

                <h4><a href="">关于投稿奖励邮寄说明</a></h4>
                <p>
                    “灰常”感谢小伙伴的支持，本着娱乐精神，在开启投稿近两个月来，还是有那么几位小伙伴的支持。灰常感谢。我将兑现我的承诺，对有投稿的小伙伴寄上精美的礼品一份。请，以下6位小伙伴于20个工作日内联系我（截至时间9月10日），告知邮寄地址。过期无效哈雨姚1一生一世喝酒就醉往事如画三人行小东东联系方式：QQ：...
                    <br>
                    <i class="fa fa-list-alt"></i>&nbsp;C++&nbsp;&nbsp;
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;
                    <i class="general foundicon-edit"></i>&nbsp;评论（0）&nbsp;&nbsp;
                    <a href="#">阅读全文 »</a>
                </p>
            </div>

            <div class="pagination pagination-large" style="text-align: center">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>

        <div class="span4">

            <div class="input-append">
                <input class="span9" id="appendedInputButton" size="16" type="text" placeholder="站内搜索"><button class="btn" type="button">Go!</button>
            </div>
            <br/>

            <h3>关于本站</h3>
            <p>
                <a href="index.html" id="loginA">登陆后台</a>
            <address>访问量：0&nbsp;&nbsp;&nbsp;已运行：0天<br />
            <ul id="zzxx-box">
                <li class="weixin"><a title="微信"><i class="fa fa-weixin"></i><span style=""></span></a></li>
                <li class="tqq"><a target="blank" rel="nofollow" href="" title=""><i class="fa fa-qq"></i></a></li>
                <li class="github"><a target="blank" rel="nofollow" href="" title=""><i class="fa fa-github"></i></a></li>
            </ul>
            </address>
            </p>
            <br />

            <h3>热门文章</h3>
            <ol>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;</li>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;</li>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-eye"></i>&nbsp;阅读（0）&nbsp;&nbsp;</li>
            </ol>
            <br />

            <h3>最新文章</h3>
            <ol>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;</li>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;</li>
                <li><a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                    <i class="fa fa-calendar"></i>&nbsp;2018-01-01&nbsp;&nbsp;</li>
            </ol>
            <br>

            <h3>热门标签</h3>
            <p>
                <a class="btn btn-primary" href="#">Primary</a>
                <a class="btn btn-secondary" href="#">Secondary</a>
                <a class="btn btn-info" href="#">Info</a>
                <a class="btn btn-success" href="#">Success</a>
                <a class="btn btn-warning" href="#">Warning</a>
                <a class="btn btn-danger" href="#">Danger</a>
                <a class="btn btn-inverse" href="#">Inverse</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>