<footer th:fragment="footer">
<div id="divFooter" class="footerArea">
    <div class="divPanel">
        <div class="row-fluid">
            <div class="span3" id="footerArea1">
                <h3></h3>
                <p></p>
            </div>
            <div class="span3" id="footerArea2">
            </div>
            <div class="span3" id="footerArea3">
            </div>
            <div class="span3" id="footerArea4">
                <h3>联系方式</h3>
                <ul id="contact-info">
                    <li>
                        <i class="general foundicon-phone icon"></i>
                        <span class="field">Phone:</span>
                        <br />
                        15250113334
                    </li>
                    <li>
                        <i class="general foundicon-mail icon"></i>
                        <span class="field">Email:</span>
                        <br />
                        <a href="mailto:info@yourdomain.com" title="Email">1063084021@qq.com</a>
                    </li>
                    <li>
                        <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                        <span class="field">Address:</span>
                        <br />
                        浙江杭州
                    </li>
                </ul>
            </div>
        </div>
        <br /><br />
        <div class="row-fluid">
            <div class="span12">
                <p class="copyright">
                    版权所有，保留一切权益 © 2018
                </p>
                <p class="social_bookmarks">
                    <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
                    <a href="https://twitter.com/oswt"><i class="social foundicon-twitter"></i> Twitter</a>
                    <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
                    <a href="#"><i class="social foundicon-rss"></i> Rss</a>
                </p>
            </div>
        </div>
    </div>
</div>
</footer>