<header th:fragment="header">
<div class="divPanel notop nobottom">
    <div class="row-fluid">
        <div class="span12">
            <div id="divLogo">
                <a href="index.html" id="divSiteTitle">蛾子的个人博客</a><br />
                <a href="index.html" id="divTagLine">一个码农的独白</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="divMenuRight" class="pull-right">
                <div class="navbar">
                    <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
                        NAVIGATION <span class="icon-chevron-down icon-white"></span>
                    </button>
                    <div class="nav-collapse collapse" id="nav-div">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="contentInnerSeparator"></div>
        </div>
    </div>
</div>
</header>